<div class="d-flex align-items-center justify-content-center" style="height:600px;">
  <div class="text-center">
    <h1>About</h1>
      <p>ながのCAKEは全国発送可能なケーキ屋さんです。</br>
         お子様からお年寄りの方までお召し上がりいただけるよう、</br>
         様々なバリエーションをご用意しております。</br>
         また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
         ぜひご注文ください。
      </p>
      <%= image_tag('ichigotaruto.jpeg', size: '300x300') %>
      <%= image_tag('purin.jpeg', size: '300x300') %>
      <%= image_tag('chokocake.jpeg', size: '300x300') %>
  </div>
</div>

